
.home-splash {
  padding-top: 1rem;
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  z-index: -1;
}

.toolbar-title {
  color: white;
  width: auto !important;
}

.tabs {
  margin-left: 2rem;
}

/*.pe-tab.pe-text-button.pe-button.pe-button--selected .pe-button__content {
    color: white !important;
}*/

.pe-text-button:not(.pe-button--disabled) {
  color :rgb(33, 150, 243) !important;
}